---
import constants from "../constants.json";
---

<aside class="px-2 text-center md:text-left" transition:persist>
  <a href="/">
    <img
      class="rounded-full aspect-square max-w-[200px] w-full mb-8 mx-auto md:mx-0"
      src={constants.image}
    />
    <h1 class="text-xl text-zinc-100 lg:text-3xl font-bold font-serif mb-2">{constants.title}</h1>
  </a>
  <p class="text-white text-zinc-100 font-serif max-w-xs mx-auto md:mx-0">
    {constants.description}
    <br/>
  </p>
<p class="text-white text-zinc-100 font-serif max-w-xs mx-auto md:mx-0">
    {constants.textface} {constants.textface} {constants.textface}
    <br/>
  </p>
</aside>
